* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  color: #333;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

h1 {
  font-size: 2em;
  margin: 10px 0px 17px 0px;
  font-weight: bold;
}

h2 {
  font-size: 1.5em;
  margin: 10px 0px 10px 0px;
  font-weight: bold;
}

p, td,th {
  margin: 33px;
}

td {
  padding: 1px 5px 7px 5px;
}

a {
  color: #000;
  font-size: 1em;
}

form {
  display: block;
  margin-top: 0em;
}

label {
  display: block;
  padding-top: 10px;
}

.field,.actions{
  margin-bottom: 10px;
}

a:hover {
  color: #fff;
  background-color: black;
}


#notice {
  color: green;
}

/*エラーが発生する時Railsが自動的にfield_with_classを指定*/
.field_with_errors{
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  border:2px solid red;
  width: 500px;
  background-color: #EEEEEE;
}

#error_explanation h2{
  text-align: left;
  font-size: 12px;
  padding: 5px 5px;
  margin-top: 0;
  color: black;
  background-color: red;
}


#error_explanation li{
  text-align: center;
  list-style-position: inside;
}

